
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div>
    <form method="post">
        <label>Name</label>
        <input type="text" name="Name" id="Name" />
        <br />
        <label>Surname</label>
        <input type="text" name="SurName" id="SurName" />
        <br />
        <label>Balance</label>
        <input type="number" name="Balance" id="Balance" />
        <br />
        <button>Kaydet</button>
    </form>
</div>
